header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
    }
.flight-details {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.flight-details p {
    margin: 8px 0;
    line-height: 1.4;
    font-size: 16px;
}

.flight-details p strong {
    color: #3498db;
}

.flight-details img {
    display: block;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1);
}

button {
    margin: 20px;
    width: 10%;
    padding: 12px;
    background-color: #3498db;;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #3498db;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    }