body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f0f7fc;
    color: #333;
    }

header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #fff;
    }

section {
    padding: 40px;
    }

footer {
    background-color: #3498db;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #fff;
    }

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
   }

td {
    text-align: center;
   }

tr:nth-child(even) {
    background-color: #eee;
    }

th[scope='col'] {
    background-color: #696969;
    color: #fff;
    }

caption {
    padding: 10px;
    caption-side: bottom;
    }

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 0.8rem;
    }

.clickable-row {
    cursor: pointer;
}

.clickable-row:hover {
    background-color: #3795d8;
}
